.container1{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.6)),url('../../assets/hero7.jpg');
    background-size: cover;
    background-position: center;
  
    display: flex;
    align-items: center;
    justify-content: center;
}
.container2 {
    width: 60%; 
    max-width: 900px; 
    background: #fff;
    padding: 25px; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
 .text {
        font-size: 36px;
        font-weight: 900;
        color: #08003A; 
    }
    
.underline {
        width: 41px;
        height: 6px;
        background: #08003A; 
        border-radius: 9px;
        margin: 0 auto; 
    }
    
.inputs {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
.input{
   display: flex;
   align-items: center;
   margin: auto;
   width: 440px;
   height: 60px;
   background: #eaeaea;
   border-radius: 6px; 
}
.input img{
    margin: 0px 30px;
}
.input input{
    height: 40px;
    width: 350px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;

}
.forgot-password{
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
    
}
.forgot-password span{
    color: #08003A;
    cursor: pointer;
    

}
.submit-container{
    display: flex;
   gap: 30px;
   margin: 15px auto;
   

}
.submit1{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 210px;
   height: 59px;
   color: #fff;
   background: #08003A; 
   border-radius: 50px;
   font-size: 19px;
   font-weight: 700;
   cursor: pointer;
}
.gray{
   background: #EAEAEA;
    color:#676767;
}
.text-danger {
    color: #081e33da; 
    font-size: 16px; 
    font-weight: 600; 
    margin-top: 5px;
 }


@media(max-width:800px){
    .container1 {
        padding: 20px; 
    }
    .container2 {
        width: 90%; 
        padding: 15px; 
    }
    .input {
        width: 80%;
    }
    .input input {
        width: calc(100% - 80px);
    }
    .submit-container{
       gap: 10px;
       margin: 5px auto;
        }
    .submit{
       width: 120px;
       height: 50px;
       border-radius: 50px;
       font-size: 19px;
       font-weight: 600;
       
    }
}

/*------------------MQ-----------------*/
@media(max-width:600px){
    .container1 {
        padding: 20px; 
    }
    .container2 {
        width: 90%; 
        padding: 15px; 
    }
    .input {
        width: 80%;
    }
    .input input {
        width: calc(100% - 80px);
    }
    .submit-container{
       gap: 10px;
       margin: 5px auto;
        }
    .submit{
       width: 150px;
       height: 50px;
       border-radius: 50px;
       font-size: 19px;
       font-weight: 600;
       
    }
}